html,body
{
    width: 100%;
    height: auto;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", "Helvetica", "Liberation Sans", "Arial", sans-serif;;
}
p, div, a {
    font-family: "Helvetica Neue", "Helvetica", "Liberation Sans", "Arial", sans-serif;
}

html {
    font-size: 10px;
}

@media (max-width: 550px) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 7px;
    }

    .campaign-box {
        font-size: 4px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 6px;
    }

    .campaign-box {
        font-size: 3px;
    }
}

@media (max-width: 350px) {
    html {
        font-size: 5px;
    }
}

/* Global font styles */
.header {
    font-size: 1.8em;
    letter-spacing: 1px;
    font-weight: 400;
}

.large {
    font-size: 3.5rem;
    padding: 15px 0 15px 0;
}

.font-bigger {
    font-size: 1.8rem;
}

.font-bigger-highlight {
    font-size: 2.0rem;
}

.normal {
    font-size: 1.2em;
}

.treasure-overlay-spinner-container {
    z-index: 999;
}

section.page {
    margin:0 6% 0 6%;
    padding-bottom: 100px;
}

h1 {
    text-align: left;
}

/* MENU */

.menu-top {
    height: 90px;
    position: relative;
}

.alice-logo {
    position:absolute;
    left: 50%;
    margin-left: -105px;
}

.alice-logo img{
    height: 100px;
}

ul.menu {
    margin-top: 45px;
    list-style-type: none;
}

ul.menu-left {
    float: left;
    margin-left: 50px;
}

ul.menu-left li {
    float: left;
}

ul.menu-right {
    float: right;
    margin-right: 50px;
}

ul.menu-right li {
    float: right;
}

.landing-page .menu-item a {
    font-family: "Helvetica Neue", "Helvetica", "Liberation Sans", "Arial", sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    color: #000000;
    padding-left: 5px;
}

.menu-item li:first-child a {
    padding-left: 0 !important;
}


.landing-page .text-center h1 {
    font-size: 3rem;
}

.landing-page section .text-center p {
    font-size: 1.6rem;
    font-weight: 300;
}

.landing-page .navbar-default .nav li a {
    text-transform: none;
    padding-right: 0px;
}

span.divider {
    text-transform: none;
    padding-left: 5px;
    color: #1998a2;
}

.hamburger {
    font-size: 40px;
    position: absolute;
    padding: 10px 20px 10px 0;
    cursor: pointer;
    right: 0;
    bottom: 0;
    background-color: white;
}

.landing-page ul.menu-mobile {
    right: 0;
    left: auto;
    border-radius: 0;
    top: 73px;
}

.landing-page ul.menu-mobile a {
    color: black;
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #dddddd;
    margin: 0;
}

.landing-page ul.menu-mobile li div {
    padding-top: 10px;
    padding-bottom: 10px;
}


.landing-page .navbar-default .navbar-nav > .active > a, .landing-page .navbar-default .navbar-nav > .active > a:hover {
    border-top: 6px solid transparent;
}

.landing-page .navbar-default .nav li a {
    font-family: "Helvetica Neue", "Helvetica", "Liberation Sans", "Arial", sans-serif;
    font-size: 2.0rem;
    font-weight: 400;
    color: #000000 !important;
}



@media (max-width: 990px) {
    .alice-logo {
        margin-top: 0;
    }

    .alice-logo img {
        height: 80px;
    }

    .menu-top {
        height: 75px;
    }
}


.landing-page .navbar-fixed-top.navbar-scroll {
    border-bottom: 0 !important;
}

.text-error {
    color: #ed5565;
}

div.footer-box {
    padding-left: 12%;

}

h2.footer-header {
    color: black;
    border: 0;
    margin-bottom: 0;
}

div.footer-content {
    color: black;
    padding-left: 2.5rem;
    font-size: 2.0rem;
    font-weight: 100;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


/* Menu */

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    border-color: white;
}

span.menu-arrow {
    font-family: 'FontAwesome';
    margin-left: 5px;
}

span.menu-arrow:before {
    content: "\f107";
}

.open span.menu-arrow:before {
    content: "\f106";
}

.user-menu li div {
   padding: 5px;
   border-bottom: 1px solid #dddddd;
}

.user-menu li div a {
    font-size: 1.8rem !important;
}

.dropdown-toggle {
    background-color: transparent !important;
}

/* FORMS */

.form-control {
    border: 0;
    border-bottom: 1px solid #1998a2;
}

.form-control:focus {
    border-bottom: 2px solid #1998a2;
}

.form-control:hover {
    border-bottom: 2px solid #1998a2;
}

.has-error .form-control {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
}

.has-error .form-control:hover {
    border-bottom: 2px solid #ed5565;
}

.has-error .form-control:focus {
    border-bottom: 2px solid #ed5565 !important;
}

/* TABS */

a.tab-header {
    color: #1998a2;
    margin-right: 10%;
    cursor: pointer;
    padding: 0 2% 0.7rem 4%;
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight:300;
}

@media (max-width: 800px) {
    a.tab-header {
        margin-right: 0;
        padding-left: 0;
    }
}

a.tab-header.active {
    border-bottom: 3px solid #1998a2;
}

a.tab-header:hover {
    border-bottom: 3px solid #1998a2;
}

/* CHART */

div.chart-header {
    color: #464646;
    font-size: 2.0rem;
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight:300;
    margin-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    padding: 6px 0 6px 15px;
    letter-spacing: -0.5px;
}

.btn-variable {
    font-size: 1.4rem !important;
    padding: 0.3rem 1rem 0.3rem 1rem;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 2px;
    background-color: #1998a2;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 0;
    letter-spacing: 2px;
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight:300;
    font-stretch:normal;
    outline: none;
}

.btn-variable:hover {
    background-color: white;
    border: 1px solid #1998a2;
    color: #1998a2;
}

div.chart-container {
    min-height: 500px;
    padding: 0 5% 0 5%;
}

.flot-chart {
    display: block;
    margin-top: 50px;
    height: 300px;
    position: relative;
    padding:20px;
    font-size: 1.5rem;
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
}

.flot-chart .y-label {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 100;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.flot-chart-content{
    width:100%;
    height: 300px;
}

/* SEARCH */

div.search-section {
    background-color: #1998a2;
    color: white;
    font-weight: 100;
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

div.search-box {
    text-align: center;
    padding-top: 15px;
    width: 100%;
}

@media (max-width: 990px) {
    div.search-box {
        padding-bottom: 25px;
    }
}

div.search-box h2.section {
    margin-top: 30px;
    color: white;
    border: 0;
}

div.search-box input.form-control {
    background-color: transparent;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: white;
    margin-left: 2.5rem;
    margin-top: 35px;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 2.0rem;
}

div.search-box input.form-control:focus {
    border-color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
}


div.search-box input:hover {
    border-bottom-color: white;
}

div.search-box input::-webkit-input-placeholder {
    color: white;
}

div.search-box input:-moz-placeholder {
    color: white;
}

div.search-box input::-moz-placeholder {
    color: white;
}

div.search-box input:-ms-input-placeholder {
    color: white;
}

div.search-box .btn-search{
    margin-left: 2.5rem;
}

@media (max-width: 990px) {
    div.search-box .btn-search {
        margin-top: 50px;
    }
}

div.search-box .btn-search {
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #1998a2;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 0;
    letter-spacing: 2px;
    font-size: 2.0rem;
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight:300;
    font-stretch:normal;
    outline: none;
    margin-top: 30px;
}

div.search-box .btn-search {
    padding: 0.5rem 5rem 0.5rem 5rem;
}

div.search-box .btn-search:focus {
    background-color: #1998a2;
}

div.search-box .btn.btn-search:hover, .btn.btn-search:active, .btn.btn-search:focus {
    border: 1px solid #FFFFFF;
}

div.search-box .btn-search:hover {
    background-color: #FFFFFF;
    color: #1998a2;
    border: 1px solid #1998a2;
}

.favourites-box {
    padding: 15px 0 15px 15px;
    margin-left: 5%;
    font-size: 2.0rem;
}

.favourites-box a {
    color: white;
    border-bottom: 1px solid white;
    cursor: pointer;
}

.favourites-box a:hover {
    text-decoration: none;
}

.form-inline .form-control {
    width: 500px !important;
}
