<div class="card transactions" *ngIf="transactions && transactions[page] && transactions[page].length">

  <div class="transactions-header">
    <button [hidden]="!transactions[page - 1] || !transactions[page - 1].length" class="btn btn-link" (click)="changePage(page - 1)">
      <clr-icon shape="arrow left"></clr-icon>
    </button>
    <h5>Transactions history</h5>
    <button [hidden]="!transactions[page + 1] || !transactions[page + 1].length" class="btn btn-link" (click)="changePage(page + 1)">
      <clr-icon shape="arrow right"></clr-icon>
    </button>
    <span [hidden]="transactions[page + 1]" class="btn btn-link loading">
    </span>
  </div>

  <table class="transactions-container">
    <thead>
      <tr>
        <th class="card-title">No</th>
        <th></th>
        <th class="card-title">TxHash</th>
        <th class="card-title">Block</th>
        <th class="card-title">Date (UTC)</th>
        <th></th>
        <th class="card-title">From</th>
        <th></th>
        <th class="card-title">To</th>
        <th class="card-title">Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactions[page]; let i = index">
        <td>{{ (page - 1) * TRANSACTIONS_PER_PAGE + i}}</td>
        <td>
          <button class="btn btn-icon btn-link" style="margin:0;" title="Click to copy the transaction hash!" (click)="copyToClipboard(transaction.transactionHash)">
            <clr-icon shape="copy" style="color: #1998a2"></clr-icon>
          </button>
        </td>
        <td>{{truncate(transaction.transactionHash)}}</td>
        <td>{{truncate(transaction.blockNumber)}}</td>
        <td>{{toDate(1000 * transaction.timestamp)}}</td>
        <td>
          <button class="btn btn-icon btn-link" style="margin:0;" title="Click to copy the 'From' value!" (click)="copyToClipboard(transaction.transaction.from)">
            <clr-icon shape="copy" style="color: #1998a2"></clr-icon>
          </button>
        </td>
        <td><a [routerLink]="'/explorer/' + transaction.transaction.from">{{truncate(transaction.transaction.from)}}</a></td>
        <td>
          <button class="btn btn-icon btn-link" style="margin:0;" title="Click to copy the 'To' value!" (click)="copyToClipboard(transaction.transaction.to)">
            <clr-icon shape="copy" style="color: #1998a2"></clr-icon>
          </button>
        </td>
        <td><a [routerLink]="'/explorer/' + transaction.transaction.to">{{truncate(transaction.transaction.to)}}</a></td>
        <td>{{transaction.value}} Ether</td>
      </tr>
    </tbody>
  </table>
</div>