<nav class="navigation">
  <a href="#" class="navigation__logo">Etheroscope</a>
  <ul class="navigation__links">
    <li class="navigation__links__item">
      <a href="#" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    </li>
    <li class="navigation__links__item">
      <a href="#" routerLink="/explorer" routerLinkActive="active">Explorer</a>
    </li>
    <li class="navigation__links__item">
      <a href="#" routerLink="/popular" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Popular</a>
    </li>
    <li class="navigation__links__item">
      <a href="https://alice.si/" target="_blank">Alice.si</a>
    </li>
  </ul>
</nav>
