<div class="wrapper">
    <div class="landing-w animated fadeIn">
        <div class="landing">
            <h1>
               Popular Contracts
            </h1>
            <div id="tag"> View the most popular contracts this week </div>
        </div>
        <div class="subLanding">
          <table *ngIf="popularContracts.length > 0" class="table">
					    <thead>
					        <tr>
					          <th class="left">Contract</th>
					          <th class="left">Searches</th>
					        </tr>
					    </thead>
					    <tbody>
								<tr *ngFor="let contract of popularContracts">
								  <td class="left">{{ contract.name }}</td>
								  <td class="left">{{ contract.searches }}</td>
					      </tr>
					    </tbody>
					</table>
        </div>
    </div>
</div>
