$break-small: 480px;
$break-large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
  @else if $media == non-handhelds {
    @media only screen and (min-width: $break-small + 1) { @content; }
  }
}

.btn {
  background-color: #1998a2;
  font-weight: 100;
  border: 0px;
  box-shadow: none;
}

.wrapper {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  @include respond-to(handhelds) { width: 100%; margin: 0 auto; }
  @include respond-to(medium-screens) { width: 75%; margin: 0 auto; }
  .landing-w {
    @include respond-to(handhelds) { margin-top: 1em; }
    @include respond-to(non-handhelds) {
      width: 100%;
      height: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .landing {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    h1 {
      margin: 0;
      padding: 0;
      font-weight: 100;
      color: #1998a2;
    }
    #tag {
      font-weight: 600;
    }
  }
  .subLanding {
    width: 100%;
    margin: 0 auto;
    table {
      width: 100%;
    }
  }
}

.btn-primary {
  background-color: #1998a2;
  font-weight: 400;
  border: 0px;
  box-shadow: none;
}

.btn-primary:hover {
  outline: none;
  background-color: #1998a2;
  font-weight: 400;
  border: 0px;
  box-shadow: none;
}

.btn:focus {
  outline: none;
}

a {
  color: #1998a2;
  text-decoration: underline;
}
