<span>
  <div class="contractVarSelect" (click)="checkCursorInSearchArea($event)">
      <table id="search-table" class="animated fadeIn">
          <tr>
              <td class="search-bar">
                  <input type="text" id="searchBar" #searchBar (keyup.enter)="exploreContractMatches(searchBar.value)" (keyup.ArrowUp)="decSearch()" (keyup.ArrowDown)="incSearch()" (keyup)="searchContracts(searchBar.value)" autofocus (focus)="graphService.userSearching = true">
              </td>
              <td class="bad-request">
                    <clr-icon  *ngIf="badRequest" class="alert-icon is-error" shape="exclamation-triangle" size="24"></clr-icon>
              </td>
              <td class="advanced-search">
                  <button type="button" class="btn-sm btn-primary">
                    <clr-icon shape="cog" size="20"> </clr-icon>
                  </button>
              </td>
              <td class="search-button">
                  <button type="button" class="btn-sm btn-primary" (click)="exploreContract(searchBar.value)">
                    <clr-icon shape="search" size="18"> </clr-icon>
                  </button>
              </td>
          </tr>
      </table>
  </div>
  <div id="matches" *ngIf="matches !== undefined && matches.length !== 0 && graphService.userSearching" (mouseenter)="graphService.userSearching = true" class="animated fadeIn">
      <table>
          <tr *ngFor="let match of matches; let i = index" (click)="exploreContract('0x' + match.contractHash)">
              <td align="center" [style.background-color]="searchMatchFn(i)">
                  <p class="nameMatch">{{match.name}} </p>
                  <p class="hashMatch">Hash: 0x{{match.contractHash}}</p>
              </td>
          </tr>
      </table>
  </div>
</span>