<div ng-controller="HomeController as homeCtrl">


    <div id="start-project">


        <div class="search-section">

            <form class="form-inline" name="homeCtrl.searchForm" novalidate="">
                <div class="row search-box">


                    <div class="form-group mc-field-group">
                        <input type="text" value="" name="contract" class="required form-control"
                               id="contractField" ng-model="homeCtrl.contractAddress" placeholder="contract address">
                        <input type="submit" value="Explore" name="explore" id="contractExplore"
                               class="btn btn-primary btn-search" ng-click="homeCtrl.explore()">
                    </div>
                </div>
            </form>
            <div class="favourites-box">
                Favourites:
                <a style="margin-right: 10px;"
                   ng-repeat="(key, val) in homeCtrl.favourites" ng-click="homeCtrl.selectFavourite(val)">{{key}}</a>
            </div>
        </div>

        <treasure-overlay-spinner active="homeCtrl.waiting">

            <div class="chart-container">

                <div class="chart-header">
                    Please select a variable:
                    <a ng-repeat="method in homeCtrl.methods" class="btn btn-primary btn-donate btn-variable"
                       ng-click="homeCtrl.getHistory(method)">{{method}}</a>
                </div>

                <div class="flot-chart">
                    <div class="flot-chart-content">
                        <flot dataset="homeCtrl.donationsChartData" options="homeCtrl.chartOptions"
                              on-plot-hover="homeCtrl.onChartHover()"></flot>
                    </div>
                    <div class="y-label">Value</div>
                </div>

            </div>

        </treasure-overlay-spinner>


        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p>
                    <span class="footer-small">&copy; 2017 ALICE SI Ltd.</span>
                </p>
            </div>
        </div>

    </div>


</div>





