<div class="contractVarSelect">
		<div class="search-area">
				<ng-select
									[allowClear]="true"
		              [items]="items"
		              [disabled]="disabled"
		              (data)="refreshValue($event)"
		              (selected)="selected($event)"
		              (removed)="removed($event)"
		              (typed)="typed($event)"
		              placeholder="No contract selected">
		  	</ng-select>
				<button type="button" class="btn btn-primary" (click)="exploreContract(value.id)">Explore</button>
		</div>
</div>

<div class="graph-area">
    <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]=true [autoScale]="autoScale" (select)="onSelect($event)" *ngIf="displayGraph">
    </ngx-charts-line-chart>
    <div class="no-graph" *ngIf="!displayGraph">
        Firstly enter a contract to explore, then select a method from the list to view.
    </div>
</div>

<div class="variables-area" *ngIf="displayMethods">
    <h3 style="font-size: 120%">Select a method below:</h3>
    <button type="button" class="btn btn-primary" *ngFor="let m of methods" (click)="generateDatapoints(m)">{{m}}</button>
</div>
