<div class="contractVarSelect">
    <div class="search-area">
        <input type="text" #searchBar class="search-bar" id="searchBar" (keyup.enter)="exploreContract(searchBar.value)" placeholder="Enter Your Smart Contract Hash Here!">
        <button type="button" class="btn btn-primary" (click)="exploreContract(searchBar.value)">
        <clr-icon shape="search" size="24"></clr-icon>
      </button>
    </div>
</div>

<div class="no-graph" *ngIf="!displayGraph && !displayMethods">
    <p>
        <clr-icon shape="arrow" size="36"></clr-icon><br> First, enter a contract to explore. This must be a contract hash.<br> Click <u><a (click)="exploreContract(contractHash[0].hash)">here</a></u> to see an example!
    </p>
    <br>
</div>

<table *ngIf="displayMethods">
    <tr>
        <td class="no-graph-but-var" *ngIf="!displayGraph">
            <p> Then choose a variable you want to look at
                <clr-icon shape="arrow" size="36" dir="right"></clr-icon><br> </p>
        </td>
        <td class="graph-area" *ngIf="displayGraph">
            <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [results]="multi" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]=true [autoScale]="autoScale" (select)="onSelect($event)">
            </ngx-charts-line-chart>
        </td>
        <td class="variables-area" align="right">
            <div id="var-w">
                <p> Select a variable to track </p>
                <div class="btnBoard">
                    <button type="button" class="btn btn-primary" *ngFor="let m of methods" (click)="generateDatapoints(m)">{{m}}</button>
                </div>
            </div>
        </td>
    </tr>
</table>

<!-- <div class="variables-area" *ngIf="displayMethods"> -->
<!-- </div> -->