.search-area {
  margin: auto;
  padding: 30px;
  width: 100vw;
  font-weight:100;
}

.search-bar {
<<<<<<< HEAD
	max-width: 600px;
	width: 50vw;
 	padding: 15px;
	margin: 30px;
	align: center;
}

.select-area{
	width: 40vw;
	float: left;
	padding-top: 40px;
	font-weight: 100;
}

.graph-area {
  float: left;
  height: 40vw;
  width: 80vw;
}

.variables-area {
  float: left;
  height: 40vw;
  width: 20vw;
}

.btn-primary {
  background-color: #1998a2;
  border: none;
  font-weight:100;
}

.btn-primary:hover {
  background-color: #11686e;
}
