p {
  margin: 0;
  font-size: 1.5em;
  padding: 0;
}

.no-graph {
  padding-top: 2%;
  text-align: center;
  height: 89%;
  width: 100%;
  float: left;
  a:hover {
    cursor: pointer;
  }
  p {
    font-size: 1.5em;
  }
}

.graph-table {
  padding-top: 1%;
  height: 89%;
  width: 100%;
  table-layout: fixed;
  .graph-td {
    width: 80%;
    height: 100%;
    .ngx-charts {
      max-height: 100%;
    }
    .graph-area {
      width: 100%;
      height: 100%;
    }
    .no-graph-but-var {
      height: 100%;
      width: 100%;
      vertical-align: top;
      p {
        text-align: right;
      }
      padding: 0 20px;
    }
    .no-graph-with-var {
      height: 100%;
      width: 100%;
      .spinner {
        text-align: center;
        margin: 0 auto;
      }
      .ngwv-w {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        p {
          text-align: center;
          margin: 0 auto;
        }
        .progress {
          width: 50%;
          margin: 0 auto;
        }
        .progress:after {
          background-color: #1998a2;
        }
      }
    }
  }
  .cards-td {
    width: 20%;
    height: 100%;
    vertical-align: top;
    border-collapse: collapse;
    border-spacing: 0px;
  }

  .filters {
    form {
      padding: 0;
    }
    input {
      width: 70%;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
    width: inherit;
    .btn-group {
      margin: 0 auto;
    }
    .btn-submit {
      margin: 0 auto;
    }
    .form-block {
      margin: 0;
    }
    .card-block {
      width: 100%;
      button {
        color: white;
        border-radius: 1px;
      }
    }
  }

  .card {
    margin-top: 0.3em;
    width: 100%;
    .card-header {
      text-align: center;
      padding: 0;
      padding: 5px;
      font-size: 1em;
    }
    .card-block {
      text-align: center;
      padding: 0;
      padding: 5px;
      font-size: 1em;
    }
    .card-text {
      margin-top: 0;
      margin-bottom: 0;
    }
    overflow: hidden;
  }

  #variables {
    table {
      width: 100%;
    }
    .card-block {
      text-align: left;
      padding: 0 5px;
      padding-bottom: 2px;
      margin: 0;
    }
    width: 100%;
    td {
      padding: 0;
      margin: 0;
    }
    margin-top: 0;
    .var-btns {
      background: #1998a2;
      color: white;
      outline: none;
      border: 0px;
      margin: 0 2px;
      margin-bottom: 2px;
    }
    #viewSourceCode {
      .view-src-btn {
          background: white;
          color: #1998a2;
          outline: none;
          border: 0px;
          margin: 0 2px;
          margin-bottom: 2px;
      }
    }
  }

  .currViewing {
    .progress-card {
      .progress-block {
        margin: 0;
        padding: 0;
        width: 80%;
        margin: 0 auto;
      }
      .card-text {
        font-size: 0.8em;
        padding: 0;
        margin: 0;
      }
      .progress-meter:before {
        background-color: #1998a2;
      }
      .progress-meter {
        margin-left: 2px;
      }
      .from-block-to-block {
        font-size: 0.8em;
      }
    }
  }
}



.no-graph-but-var {
  -vendor-animation-duration: 0.5s;
  -vendor-animation-delay: 0.5s;
  -vendor-animation-iteration-count: infinite;
}
