<clr-main-container>
    <clr-header class="header-4" style="height: 10%;">
        <div class="branding">
            <a href="#" class="nav-link">
        <span class="title">
          <span class="nav-link" [routerLink]="['/']" routerLinkActive="active">
            ETHEROSCOPE
          </span>
        </span>
      </a>
        </div>
        <div class="header-nav" [clr-nav-level]="1">
            <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"><span class="nav-text">Home</span></a>
            <a class="nav-link" [routerLink]="['/explorer']"><span class="nav-text">Explorer</span></a>
            <a class="nav-link" href="http://etheroscope.alice.si/"><span class="nav-text">Alice.si</span></a>
        </div>
        <div class="header-actions">
            <button type="button" class="button btn-primary" (click)="openModal()">
            <clr-icon shape="info-circle" size="36" style="color:white"></clr-icon>
      </button>
        </div>
    </clr-header>
    <div class="content-container" style="max-width:100% height: 80%;">
        <router-outlet></router-outlet>
    </div>
    <clr-modal [(clrModalOpen)]="helpModalOpen" [clrModalSize]="'xl'">
        <div class="modal-body">
            <h3 class="modal-title">Guide to using Etheroscope</h3>
            <p>
                Etheroscope is an application to help users look up any contract on the Ethereum block-chain, and inspect how it's state changes over time. If you have a contract you want to have a look at follow these steps:
            </p>
            <br/>
            <ol>
                <li>
                    Type in the name of the contract you want to look up in the search bar at the centre of the screen. This could be a name associated with a contract (such as "The DOA") or the hash of the contract (such as "0xbb9bc244d798123fde783fcc1c72d3bb8c189413"). As you search, popular contracts that match your search will appear. You can click on them to inspect them, or finish typing the name of your contract, and press enter or the Explore button to inspect.
                </li>
                <br/>
                <li>
                    The variables of the smart contract will appear as buttons along the right hand side of the screen. Click the button corresponding to the variable you want to inspect
                </li>
                <br/>
                <li>
                    If no one has looked at the contract before, it may take some time to generate the first datapoints to display. This will be indicated by the loading icon in the centre of the graph. Otherwise, variable will be displayed on the graph. The value of the variable will be shown on the Y-axis and the date that the value occurred on the X-axis. After the initial loading of the points, more datapoints may be added as the server scans through the block-chain for changes to the contract. The progress of this is indicated below the graph.
                </li>
                <br/>
                <li>
                    If you want to zoom in at a specific place on the graph, you can drag a selection on the preview below the graph. If you want to zoom back out to the whole graph, you can double click on the preview.
                </li>
            </ol>
        </div>
    </clr-modal>
</clr-main-container>