<clr-main-container>
  <clr-header class="header-4">
    <div class="branding">
      <a href="#" class="nav-link">
        <img src="../../aliceLogo.png" />
        <span class="title">ETHEROSCOPE</span>
      </a>
    </div>
      <div class="header-nav" [clr-nav-level]="1">
          <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active"><span class="nav-text">Home</span></a>
          <a class="nav-link" href="#" [routerLink]="['/explorer']" routerLinkActive="active"><span class="nav-text">Explorer</span></a>
          <a class="nav-link" href="http://etheroscope.alice.si/"><span class="nav-text">Alice.si mockup</span></a>
      </div>
    <div class="header-actions">
    </div>
  </clr-header>
  <div class="content-container" style="width:100%">
      <router-outlet></router-outlet>
  </div>
</clr-main-container>
