<div class="graph-area animated fadeIn" *ngIf="graphService.curDisplayState === graphService.DisplayState.displayingGraph && graphService.graphDatapoints.length !== 0">
    <table>
        <tr id="graphOptions">
            <td valign="middle">
                <div class="board">
                    <div class="board-item" (click)="currGraph = graphState.line">Line Graph</div>
                    <div class="board-item" (click)="currGraph = graphState.week">Updates by Day</div>
                </div>
            </td>
        </tr>
        <tr id="graphGraph">
            <td *ngIf="currGraph === graphState.line">
                <div style="height: 100%; width: 100%;">
                    <ngx-charts-line-chart [scheme]="colorScheme" [results]="graphService.multi" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [autoScale]="autoScale" [timeline]=true>
                    </ngx-charts-line-chart>
                </div>
            </td>
            <td *ngIf="currGraph === graphState.week">
                <div style="height: 100%; width: 100%;">
                    <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="graphService.weekData" [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"> </ngx-charts-bar-vertical>
                </div>
            </td>
        </tr>
    </table>
</div>
<div class="no-graph-but-var animated fadeInLeft" *ngIf="graphService.curDisplayState === graphService.DisplayState.newContract">
    <p> Then choose a variable you want to look at
        <clr-icon shape="arrow" size="36" dir="right"></clr-icon><br><br> </p>
    <p>A smart contract may come with certain publicly exposed variables.<br>For example, a charity might make public the amount of money it has donated.<br>Choose a variable you want to see the history of.</p>
</div>
<div class="no-graph-with-var animated fadeIn" *ngIf="graphService.graphDatapoints.length === 0 && graphService.progressBar === 100">
    <p> There are no points to display </p>
</div>
<div class="no-graph-with-var" *ngIf="graphService.curDisplayState === graphService.DisplayState.awaitingInitialPoints">
    <div class="ngwv-w">
        <p>
            Finding the first datapoints
        </p>
        {{graphService.graphDatapoints.length}}
        <div class="progress loop"><progress></progress></div>
    </div>
</div>