<div class="wrapper">
    <div class="landing-w">
        <div class="landing">
            <h1>
                Etheroscope
            </h1>
            <div id="tag"> Browse Smart Contracts the Smart Way. </div>
        </div>
        <div class="subLanding">
            <table>
                <tr>
                    <td>
                        <p id="text"> Etheroscope allows you to look up or search for your feavourite smart contracts and inspect their changes over time. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut euismod leo vel ante dapibus, nec mattis dolor dictum. Ut et purus quis lacus mollis sagittis eget eu ligula. Curabitur congue et eros in aliquam. Nulla maximus eu elit quis dictum. Maecenas ac fringilla erat, efficitur dignissim elit. Maecenas et maximus elit, at accumsan felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur maximus porttitor nibh, tincidunt porttitor purus tincidunt sit amet. </p>
                    </td>
                    <td>
                        <button type="button" [routerLink]="['/explorer']" class="btn btn-primary">Explore Now!</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>