.btn {
  background-color: #1998a2;
  font-weight: 100;
  border: 0px;
  box-shadow: none;
}

.wrapper {
  width: 100vw;
  height: 100%;
  .landing-w {
    height: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  .landing {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    h1 {
      margin: 0;
      padding: 0;
      font-weight: 100;
      color: #1998a2;
      font-size: 4vw;
      height: 4vw; // padding-bottom: 2vh;
    }
    #tag {
      font-size: 1.5vw;
      font-weight: 600;
      height: 1.5vw;
    }
  }
  .subLanding {
    width: 50%;
    margin: 0 auto;
    table {
      width: 100%;
    }
    table,
    th,
    td {
      padding: 1vw;
    }

    #text {
      margin: 0;
      padding: 0;
    }
  }
  .footer {
    width: 50%;
    margin: 0 auto;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: grey;

    p {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
}

.btn-primary {
  background-color: #1998a2;
  font-weight: 100;
  border: 0px;
  box-shadow: none;
}

.btn-primary:hover {
  outline: none;
  background-color: #1998a2;
  font-weight: 100;
  border: 0px;
  box-shadow: none;
}

.btn:focus {
  outline: none;
}