.wrapper {
  width: 100vw;
  height: 100%;
  .landing {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  h1 {
    margin: 0;
    padding: 0;
    font-weight: 100;
    color: #1998a2;
    font-size: 5vw;
    margin-bottom: 2vh;
  }
  .btn {
    margin: 0;
    margin-top: 2vh;
    background-color: #1998a2;
    border: 0px;
    box-shadow: none;
  }

  #text {
    margin-top: 5vh;
  }
  #tag {
    font-size: 1.5vw;
    margin-top: 1vh;
    font-weight: 600;
  }
}