.btn {
  background-color: #1998a2;
  font-weight: 100;
  border: 0px;
  box-shadow: none;
}

.wrapper {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  .landing-w {
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .landing {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    h1 {
      margin: 0;
      padding: 0;
      font-weight: 100;
      color: #1998a2;
      //font-size: 4vw;
      //height: 4vw; // padding-bottom: 2vh;
    }
    #tag {
      //height: 1.5vw;
      //font-size: 1.5vw;
      font-weight: 600;
    }
  }
  .subLanding {
    width: 100%;
    margin: 0 auto;
    table {
      width: 100%;
    }
    table,
    th,
    td {
      padding: 1vw;
    }

    #text {
      margin: 0;
      padding: 0;
    }
  }
  .footer {
    width: 100%;
    margin: 0 auto;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: grey;
    p {
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
}

.btn-primary {
  background-color: #1998a2;
  font-weight: 400;
  border: 0px;
  box-shadow: none;
}

.btn-primary:hover {
  outline: none;
  background-color: #1998a2;
  font-weight: 400;
  border: 0px;
  box-shadow: none;
}

.btn:focus {
  outline: none;
}

a {
  color: #1998a2;
  text-decoration: underline;
}
