<div class="wrapper">
  <h2 class="popular__headline">
    Popular contracts
  </h2>
  <div class="popular__description">
    View the most popular contracts this week.
  </div>
  <div class="popular">
    <div *ngFor="let popular of popularContracts" class="popular__contract__wrapper">
      <a class="popular__contract" routerLink="/explorer/{{popular.contractHash}}/graph">
        <div class="popular__contract__searches">{{popular.searches}} searches</div>
        <div class="popular__contract__description">
          <div class="popular__contract__description__name">{{popular.name}}</div>
          <div class="popular__contract__description__hash">{{popular.contractHash}}</div>
        </div>
        <!--<a class="popular__contract__link" href="#" routerLink="/explorer/0x{{popular.contractHash}}/graph">
          Graph
        </a>
        <a class="popular__contract__link" href="#" routerLink="/explorer/0x{{popular.contractHash}}/transactions">
          Transactions
        </a>-->
      </a>
    </div>
  </div>
</div>
